if(error)
    .no-results-container
        h3.no-results-heading
            = error.message
        p.no-results-suggestion Please try searching with different keywords or check your spelling.
        a.no-results-link(href='/') Return
        