body {
  font: 18px "Garamond", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: black;
}

a.button,
input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

/* form a.button,
input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
} */

input[type=submit] {
  border: 0;
}

a.button:hover,
input[type=submit]:hover {
  background-color: #01b189;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text],
input[type=number] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container h1,
.container table {
  width: 100%;
  max-width: 800px;
}

.container h1 {
  text-align: left;
}

.container table {
  margin-top: 20px;
  border-collapse: collapse;
}

.container th,
.container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.container th {
  background-color: #f2f2f2;
}

/* footer */

footer.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f8f9fa;
  /* Light background for footer */
  border-top: 1px solid #e9ecef;
  /* Subtle border at the top */
  position: relative;
  bottom: 0;
  max-width: 800px;
  width: 100%;
}

footer p {
  color: black;
}

/* Search Bar */

.header-actions {
  display: flex;
  flex-direction: row;
  /* Change to row for horizontal alignment */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.header-actions h1 {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'].search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
  max-width: 100%;
}

input[type='text'].search-input:hover {
  border-color: #01b189;
  box-shadow: 0 0 5px rgba(1, 177, 137, 0.5);
}

input[type='text'].search-input:focus-visible {
  outline: 1px solid #01b189;
}

/* No results styles */

.no-results-container {
  text-align: center;
  margin: 50px;
}

.no-results-heading {
  color: #ff0000;
  font-size: 24px;
  margin-bottom: 10px;
}

.no-results-message,
.no-results-suggestion {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.no-results-link {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
}

.no-results-link:hover {
  text-decoration: underline;
}

/* New book styles */
.newbook-title {
  width: 400px !important;
}

/* Update book styles */
.updatebook {
  width: 400px !important;
}

/* Block container */
.block-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination span {
  background-color: #ddd;
  cursor: default;
}